# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

*.log
*.cache
build
build/output
build/compat-info
build/tmp
build/wp-plugin-dir-svn
build/hook-doc
.vscode/launch.json
.vscode/settings.json
.travis.yml
.phpcs.xml.dist
test-sample.php
bin/install-wp-tests.sh
phpunit.xml.dist
data/help/default
data/help/en_US
data/help/ro_RO
node_modules
node_modules/*
.wc-installed
.lpwootrk-installed